<div class="jumbotron">
  
  <%= for {keymaster, title, html, date} <- @posts do %>
    <h1 align="left"><%= title %></h1>
    <caption><strong><%= date %></strong></caption>
    <%= raw html %>
    <h5 align="right"><a href="/post?p=<%= keymaster %>">read more</a></h5>
    <hr>
  <% end %>
</div>
